<div class="row mt-3 p-3">
    <h3 class="text-green">About me</h3>
    <p>Welcome to my portfolio! With over 5 years of dedicated experience as a senior software developer, I've embarked on a dynamic journey marked by a diverse array of accomplishments. My professional voyage has taken me through the intricate realm of microservices, where I've adeptly constructed resilient and scalable architectures that power the backbone of modern applications. In parallel, I've harnessed the potential of deep learning, crafting innovative solutions that bridge the gap between artificial intelligence and real-world challenges.</p>
    <p class="mt-3">My expertise extends to the cloud, particularly Amazon Web Services, where I've navigated the intricacies of cloud-native development to build robust and secure systems. Beyond the virtual landscape, I've delved into the realm of high-performance computing, developing essential middlewares that orchestrate the capabilities of supercomputers. My journey is characterized by a relentless passion for problem-solving and an unquenchable curiosity that drives me to unravel complexities. As you explore my portfolio, you'll discover a tapestry woven with projects that embody not only technical prowess but also a relentless drive for innovation. Join me as I continue to push the boundaries of what's possible in the ever-evolving world of software development.</p>
</div>

<div class="container-fluid mt-3 px-3">
    <h3 class="text-green">Projects</h3>
    <app-projects [project]="project" *ngFor="let project of projects"></app-projects>
</div>