/* You can add global styles to this file, and also import other style files */

@import "assets/css/bootstrap.scss";

$green-color: #609966;

body{
    font-family: "Zilla Slab", serif;
}

.text-green{
    color: $green-color !important;
}

.project:hover .project-title{
    color: $primary !important;
}